In [1]:
import os
import glob
import pandas as pd
import re

In [2]:
files = r"C:\Users\admin\Desktop\OPENCV\NLP\Data-Science-Use-Cases-master\News Classification\bbc"

In [3]:
os.listdir(files)

['business', 'entertainment', 'politics', 'README.TXT', 'sport', 'tech']

In [4]:
from collections import defaultdict
dicts=defaultdict(list)

for dir_name,_,file_names in os.walk(files):
    for file in file_names:
        dicts['categories'].append(os.path.basename(dir_name))
        name=os.path.splitext(file)[0]
        dicts['doc_id'].append(name)
        path=os.path.join(dir_name,file)
        
        with open(path,'r',encoding='latin-1') as file:
            dicts['text'].append(file.read())

In [5]:
df=pd.DataFrame.from_dict(dicts)

In [6]:
df.head(10)

  categories  doc_id                                               text
0        bbc  README  Consists of 2225 documents from the BBC news w...
1   business     001  Ad sales boost Time Warner profit\n\nQuarterly...
2   business     002  Dollar gains on Greenspan speech\n\nThe dollar...
3   business     003  Yukos unit buyer faces loan claim\n\nThe owner...
4   business     004  High fuel prices hit BA's profits\n\nBritish A...
5   business     005  Pernod takeover talk lifts Domecq\n\nShares in...
6   business     006  Japan narrowly escapes recession\n\nJapan's ec...
7   business     007  Jobs growth still slow in the US\n\nThe US cre...
8   business     008  India calls for fair trade rules\n\nIndia, whi...
9   business     009  Ethiopia's crop production up 24%\n\nEthiopia ...

In [14]:
df.drop(0,inplace = True)

In [15]:
df.head()

  categories doc_id                                               text
1   business    001  Ad sales boost Time Warner profit\n\nQuarterly...
2   business    002  Dollar gains on Greenspan speech\n\nThe dollar...
3   business    003  Yukos unit buyer faces loan claim\n\nThe owner...
4   business    004  High fuel prices hit BA's profits\n\nBritish A...
5   business    005  Pernod takeover talk lifts Domecq\n\nShares in...

In [16]:
df.reset_index(drop=True,inplace=True)

In [18]:
df.drop('doc_id',axis=1,inplace=True)

In [19]:
df

     categories                                               text
0      business  Ad sales boost Time Warner profit\n\nQuarterly...
1      business  Dollar gains on Greenspan speech\n\nThe dollar...
2      business  Yukos unit buyer faces loan claim\n\nThe owner...
3      business  High fuel prices hit BA's profits\n\nBritish A...
4      business  Pernod takeover talk lifts Domecq\n\nShares in...
...         ...                                                ...
2220       tech  BT program to beat dialler scams\n\nBT is intr...
2221       tech  Spam e-mails tempt net shoppers\n\nComputer us...
2222       tech  Be careful how you code\n\nA new European dire...
2223       tech  US cyber security chief resigns\n\nThe man mak...
2224       tech  Losing yourself in online gaming\n\nOnline rol...

[2225 rows x 2 columns]

In [20]:
import random
print(df['text'][1])

Dollar gains on Greenspan speech

The dollar has hit its highest level against the euro in almost three months after the Federal Reserve head said the US trade deficit is set to stabilise.

And Alan Greenspan highlighted the US government's willingness to curb spending and rising household savings as factors which may help to reduce it. In late trading in New York, the dollar reached $1.2871 against the euro, from $1.2974 on Thursday. Market concerns about the deficit has hit the greenback in recent months. On Friday, Federal Reserve chairman Mr Greenspan's speech in London ahead of the meeting of G7 finance ministers sent the dollar higher after it had earlier tumbled on the back of worse-than-expected US jobs data. "I think the chairman's taking a much more sanguine view on the current account deficit than he's taken for some time," said Robert Sinche, head of currency strategy at Bank of America in New York. "He's taking a longer-term view, laying out a set of conditions under which the current account deficit can improve this year and next."

Worries about the deficit concerns about China do, however, remain. China's currency remains pegged to the dollar and the US currency's sharp falls in recent months have therefore made Chinese export prices highly competitive. But calls for a shift in Beijing's policy have fallen on deaf ears, despite recent comments in a major Chinese newspaper that the "time is ripe" for a loosening of the peg. The G7 meeting is thought unlikely to produce any meaningful movement in Chinese policy. In the meantime, the US Federal Reserve's decision on 2 February to boost interest rates by a quarter of a point - the sixth such move in as many months - has opened up a differential with European rates. The half-point window, some believe, could be enough to keep US assets looking more attractive, and could help prop up the dollar. The recent falls have partly been the result of big budget deficits, as well as the US's yawning current account gap, both of which need to be funded by the buying of US bonds and assets by foreign firms and governments. The White House will announce its budget on Monday, and many commentators believe the deficit will remain at close to half a trillion dollars.

In [21]:
import nltk
from nltk.corpus import stopwords

In [28]:
def process_text(text):
    text = text.lower().replace('\n',' ').replace('\r','').strip()
    text = re.sub(' +', ' ', text)   # remove multiple spaces
    text = re.sub(r'[^\w\s]','',text) # remove punctuations
    
    
    stop_words = set(stopwords.words('english')) 
    word_tokens = nltk.word_tokenize(text) 
#     filtered_sentence = [w for w in word_tokens if not w in stop_words] 
    filtered_sentence = [] 
    for w in word_tokens: 
        if w not in stop_words: 
            filtered_sentence.append(w) 
    
    text = " ".join(filtered_sentence)
    return text

In [29]:
process_text(df['text'][1])

'dollar gains greenspan speech dollar hit highest level euro almost three months federal reserve head said us trade deficit set stabilise alan greenspan highlighted us governments willingness curb spending rising household savings factors may help reduce late trading new york dollar reached 12871 euro 12974 thursday market concerns deficit hit greenback recent months friday federal reserve chairman mr greenspans speech london ahead meeting g7 finance ministers sent dollar higher earlier tumbled back worsethanexpected us jobs data think chairmans taking much sanguine view current account deficit hes taken time said robert sinche head currency strategy bank america new york hes taking longerterm view laying set conditions current account deficit improve year next worries deficit concerns china however remain chinas currency remains pegged dollar us currencys sharp falls recent months therefore made chinese export prices highly competitive calls shift beijings policy fallen deaf ears despite recent comments major chinese newspaper time ripe loosening peg g7 meeting thought unlikely produce meaningful movement chinese policy meantime us federal reserves decision 2 february boost interest rates quarter point sixth move many months opened differential european rates halfpoint window believe could enough keep us assets looking attractive could help prop dollar recent falls partly result big budget deficits well uss yawning current account gap need funded buying us bonds assets foreign firms governments white house announce budget monday many commentators believe deficit remain close half trillion dollars'

In [31]:
df['Text_parsed'] = df['text'].apply(process_text)

In [32]:
df.head()

,categories,text,Text_parsed
0,business,Ad sales boost Time Warner profit\n\nQuarterly...,ad sales boost time warner profit quarterly pr...
1,business,Dollar gains on Greenspan speech\n\nThe dollar...,dollar gains greenspan speech dollar hit highe...
2,business,Yukos unit buyer faces loan claim\n\nThe owner...,yukos unit buyer faces loan claim owners embat...
3,business,High fuel prices hit BA's profits\n\nBritish A...,high fuel prices hit bas profits british airwa...
4,business,Pernod takeover talk lifts Domecq\n\nShares in...,pernod takeover talk lifts domecq shares uk dr...